/* Start Global R.linkses  */
body {
  font-family: "Lato", sans-serif;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  caret-color: var(--blue-color);
}

html {
  scroll-behavior: smooth;
}

:root {
  --main-color: #31995c;
  --hover-color: #267948;
  --background-sections: #dfffee;
  --main-transition: .3s;
  --border-radius: 6px;
}

::selection {
  background-color: #cecece; /* Orange background */
  color: black; /* White text color */
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: #333;
  box-shadow: 0 0 10px #555 inset;
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--hover-color);
}

/* .container {
  max-width: 1100px;
  padding: 20px 35px;
  margin: auto;
} */
/* End Global Rules  */

/* Start Header */
nav {
  background-color: #111;
  padding: 0 50px;
  color: white;
}

nav .navTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}

nav .navTop .search {
  background-color: #444;
  display: flex;
  align-items: center;
  height: 40px;
  border-radius: 10px;
  overflow: hidden;
  transition: var(--main-transition);
}

nav .navTop .search input {
  height: 100%;
  width: 230px;
  border: none;
  outline: none;
  padding-left: 10px;
  background-color: #444;
  color: white;
  font-size: 18px;
  font-weight: 600;
  transition: .7s;
}
nav .navTop .search input::placeholder {
  color: #ccc;
}

nav .navTop .search input:focus {
  width: 270px;
}

nav .navTop .search input:focus + .search {
  box-shadow: 0 0 10px white;
}

nav .navTop .search img {
  width: 20px;
  margin: 0 10px;
}

nav .navTop .limitedOffer {
  color: white;
  font-size: 22px;
  font-weight: 500;
  border-bottom: 3px solid var(--main-color);
}

nav .navBottom {
  height: 50px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

nav .navBottom h3 {
  padding: 8px 12px;
  color: #ccc;
  font-size: 19px;
  font-weight: 600;
  cursor: pointer;
  transition: var(--main-transition);
  user-select: none;
}
nav .navBottom h3.active {
  color: white;
  background-color: #444;
  border-radius: 10px;
}

nav .navBottom h3:hover {
  color: white;
  background-color: #444;
  border-radius: 10px;
}
/* End Header */

/* Start Slider */
.slider {
  background: 
    linear-gradient(to bottom, #00e4a00a, rgba(255, 255, 255, 0)),
    url(img/sliderBg.jpg);
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  overflow-x: hidden;

}

.slider .sliderWrapper {
  display: flex;
  width: 500vw;
  transition: all .7s ease-in-out;
}

.slider .sliderWrapper .sliderItem {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.slider .sliderWrapper .sliderItem img {
  width: 650px;
  z-index: 1;
}

.slider .sliderWrapper .sliderItem h1 {
  position: absolute;
  color: white;
  font-size: 60px;
  font-weight: 800;
  top: 10%;
  right: 18%;
  text-align: center;
  z-index: 1;
}

.slider .sliderWrapper .sliderItem h2 {
  position: absolute;
  font-size: 70px;
  font-weight: 300;
  padding: 5px 40px;
  border: 1px solid #999;
  top: 10%;
  left: 10%;
  transform: rotate(-15deg);
  z-index: 1;
}

.slider .sliderWrapper .sliderItem:nth-child(1) h2 {
  color: var(--main-color);
}
.slider .sliderWrapper .sliderItem:nth-child(2) h2 {
  color: rgb(255, 136, 0);
}
.slider .sliderWrapper .sliderItem:nth-child(3) h2 {
  color: rgb(255, 238, 0);
}
.slider .sliderWrapper .sliderItem:nth-child(4) h2 {
  color: rgb(183, 0, 255);
}
.slider .sliderWrapper .sliderItem:nth-child(5) h2 {
  color: rgb(0, 132, 255);
}

.slider .sliderWrapper .sliderItem button {
  position: absolute;
  right:25%;
  top: 55%;
  border: none;
  background-color: black;
  border: 1px solid #999;
  color: white;
  font-size: 25px;
  font-weight: 800;
  padding: 10px 16px;
  cursor: pointer;
  transition: var(--main-transition);
  z-index: 1;
  animation: buy 1s ease-in-out infinite;
}

@keyframes buy {
  0%, 100% {
    border-color: white;
  }
  50% {
    border-color: black;
  }
}

.slider .sliderWrapper .sliderItem button:hover {
  background-color: #ccc;
  color: black;
  border-color: black;
  animation: none;
}

.slider .sliderWrapper .sliderItem .sliderBg {
  position: absolute;
  background-color: var(--main-color);
  width: 650px;
  height: 650px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slider .sliderWrapper .sliderItem:nth-child(1) .sliderBg {
  background-color: var(--main-color);
}
.slider .sliderWrapper .sliderItem:nth-child(2) .sliderBg {
  background-color: rgb(255, 136, 0);
}
.slider .sliderWrapper .sliderItem:nth-child(3) .sliderBg {
  background-color: rgb(255, 238, 0);
}
.slider .sliderWrapper .sliderItem:nth-child(4) .sliderBg {
  background-color: rgb(183, 0, 255);
}
.slider .sliderWrapper .sliderItem:nth-child(5) .sliderBg {
  background-color: rgb(0, 132, 255);
}

/* Start Slider */

/* Start Features */
.features {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 1100px;
  padding: 80px 30px;
  margin: auto;
}

.features .feature {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features .feature .title {
  font-size: 20px;
  font-weight: 800;
  margin: 15px 0 10px;
}

.features .feature p {
  width: 140px;
  text-align: center;
  color: #333;
  font-size: 16px;
}

.features .feature img {
  width: 70px;
}

@media (max-width: 676px) {
  .features {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
}
/* End Features */

/* Start Product */
.product {
  height: 100vh;
  padding: 80px 40px;
  position: relative;
  background-color: var(--background-sections);
  clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0% 100%);
}

.product img {
  width: 40%;
  animation: product-up-down 2s ease-in-out infinite;
}
@keyframes product-up-down {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-7px);
  }
}

.product img:hover {
  animation: none;
}

.product .productInfo {
  position: absolute;
  top: 10%;
  right: 7%;
  width: 40%;
  padding: 40px;
}

.product .productInfo h1 {
  font-size: 70px;
  font-weight: 800;
  margin-bottom: 40px;
}

.product .productInfo h2 {
  margin-bottom: 20px;
}

.product .productInfo p {
  max-width: 800px;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.4;
  color: #666;
  margin-bottom: 20px;
}

.product .productInfo .colors,
  .product .productInfo .sizes {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.product .productInfo .colors .color {
  width: 32px;
  height: 32px;
  border-radius: 5px;
  cursor: pointer;
  background-color: black;
}

.product .productInfo .colors .color:last-child {
  background-color: darkblue;
}

.product .productInfo .sizes .size {
  padding: 5px 20px;
  border: 1px solid black;
  color: black;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: var(--main-transition);
  user-select: none;
}

.product .productInfo .sizes .size.active {
  background-color: black;
  color: white;
}

.product .productInfo .sizes .size:hover {
  background-color: black;
  color: white;
}

.product .productInfo button {
  float: right;
  border: none;
  background-color: black;
  border: 1px solid #999;
  color: white;
  font-size: 20px;
  font-weight: 800;
  padding: 8px 16px;
  cursor: pointer;
  transition: var(--main-transition);
  animation: buy 1s ease-in-out infinite;
  user-select: none;
}

.product .productInfo button:hover {
  background-color: transparent;
  color: black;
  border-color: black;
  animation: none;
}

/* End Product */