/* Start Global R.linkses  */
body {
  font-family: "Lato", sans-serif;
  background-color: #fafafa;
}
body.no-scroll {
  overflow: hidden;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  caret-color: var(--blue-color);
}

html {
  scroll-behavior: smooth;
}

:root {
  --main-color: #31995c;
  --hover-color: #267948;
  --background-sections: #dfffee;
  --main-transition: .3s;
  --border-radius: 6px;
}

::selection {
  background-color: var(--hover-color); 
  color: white;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: #333;
  box-shadow: 0 0 10px #555 inset;
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--hover-color);
}

/* .container {
  max-width: 1100px;
  padding: 20px 35px;
  margin: auto;
} */
/* End Global Rules  */

/* Start Header */
nav {
  background-color: #111;
  padding: 0 50px;
  color: white;
}

nav .navTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}

nav .navTop .search {
  background-color: #444;
  display: flex;
  align-items: center;
  height: 40px;
  border-radius: 10px;
  overflow: hidden;
  transition: var(--main-transition);
}

nav .navTop .search input {
  height: 100%;
  width: 230px;
  border: none;
  outline: none;
  padding-left: 10px;
  background-color: #444;
  color: white;
  font-size: 18px;
  font-weight: 600;
  transition: .7s;
}
nav .navTop .search input::placeholder {
  color: #ccc;
}

nav .navTop .search input:focus {
  width: 270px;
}

nav .navTop .search input:focus + .search {
  box-shadow: 0 0 10px white;
}

nav .navTop .search img {
  width: 20px;
  margin: 0 10px;
}

nav .navTop .limitedOffer {
  color: white;
  font-size: 22px;
  font-weight: 500;
  border-bottom: 3px solid var(--main-color);
}

nav .navBottom {
  height: 50px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

nav .navBottom h3 {
  padding: 8px 12px;
  color: #ccc;
  font-size: 19px;
  font-weight: 600;
  cursor: pointer;
  transition: var(--main-transition);
  user-select: none;
}
nav .navBottom h3.active {
  color: white;
  background-color: #444;
  border-radius: 10px;
}

nav .navBottom h3:hover {
  color: white;
  background-color: #444;
  border-radius: 10px;
}
/* End Header */

/* Start Slider */
.slider {
  background: 
    linear-gradient(to bottom, #00e4a00a, rgba(255, 255, 255, 0)),
    url(img/sliderBg.jpg);
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  overflow-x: hidden;

}

.slider .sliderWrapper {
  display: flex;
  width: 500vw;
  transition: all .7s ease-in-out;
}

.slider .sliderWrapper .sliderItem {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.slider .sliderWrapper .sliderItem img {
  width: 650px;
  z-index: 1;
}

.slider .sliderWrapper .sliderItem h1 {
  position: absolute;
  color: white;
  font-size: 60px;
  font-weight: 800;
  top: 10%;
  right: 18%;
  text-align: center;
  z-index: 1;
}

.slider .sliderWrapper .sliderItem h2 {
  position: absolute;
  font-size: 70px;
  font-weight: 300;
  padding: 5px 40px;
  border: 1px solid #999;
  top: 10%;
  left: 10%;
  transform: rotate(-15deg);
  z-index: 1;
}

.slider .sliderWrapper .sliderItem:nth-child(1) h2 {
  color: var(--main-color);
}
.slider .sliderWrapper .sliderItem:nth-child(2) h2 {
  color: rgb(255, 136, 0);
}
.slider .sliderWrapper .sliderItem:nth-child(3) h2 {
  color: rgb(255, 238, 0);
}
.slider .sliderWrapper .sliderItem:nth-child(4) h2 {
  color: rgb(183, 0, 255);
}
.slider .sliderWrapper .sliderItem:nth-child(5) h2 {
  color: rgb(0, 132, 255);
}

.slider .sliderWrapper .sliderItem button {
  position: absolute;
  right:25%;
  top: 55%;
  border: none;
  background-color: black;
  border: 1px solid #999;
  color: white;
  font-size: 25px;
  font-weight: 800;
  padding: 10px 16px;
  cursor: pointer;
  transition: var(--main-transition);
  z-index: 1;
  animation: buy 1s ease-in-out infinite;
}

@keyframes buy {
  0%, 100% {
    border-color: white;
  }
  50% {
    border-color: black;
  }
}

.slider .sliderWrapper .sliderItem button:hover {
  background-color: #ccc;
  color: black;
  border-color: black;
  animation: none;
}

.slider .sliderWrapper .sliderItem .sliderBg {
  position: absolute;
  background-color: var(--main-color);
  width: 650px;
  height: 650px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slider .sliderWrapper .sliderItem:nth-child(1) .sliderBg {
  background-color: var(--main-color);
}
.slider .sliderWrapper .sliderItem:nth-child(2) .sliderBg {
  background-color: rgb(255, 136, 0);
}
.slider .sliderWrapper .sliderItem:nth-child(3) .sliderBg {
  background-color: rgb(255, 238, 0);
}
.slider .sliderWrapper .sliderItem:nth-child(4) .sliderBg {
  background-color: rgb(183, 0, 255);
}
.slider .sliderWrapper .sliderItem:nth-child(5) .sliderBg {
  background-color: rgb(0, 132, 255);
}

/* Start Slider */

/* Start Features */
.features {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 1100px;
  padding: 80px 30px;
  margin: auto;
}

.features .feature {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features .feature .title {
  font-size: 20px;
  font-weight: 800;
  margin: 15px 0 10px;
}

.features .feature p {
  width: 140px;
  text-align: center;
  color: #333;
  font-size: 16px;
}

.features .feature img {
  width: 70px;
}

@media (max-width: 676px) {
  .features {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
}
/* End Features */

/* Start Product */
.product {
  height: 100vh;
  padding: 80px 40px;
  position: relative;
  background-color: var(--background-sections);
  clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0% 100%);
}

.product > img {
  width: 40%;
  animation: product-up-down 2s ease-in-out infinite;
}
@keyframes product-up-down {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-7px);
  }
}

.product img:hover {
  animation: none;
}

.product .productInfo {
  position: absolute;
  top: 10%;
  right: 7%;
  width: 40%;
  padding: 40px;
}

.product .productInfo h1 {
  font-size: 70px;
  font-weight: 800;
  margin-bottom: 40px;
}

.product .productInfo h2 {
  margin-bottom: 20px;
}

.product .productInfo p {
  max-width: 800px;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.4;
  color: #666;
  margin-bottom: 20px;
}

.product .productInfo .colors,
  .product .productInfo .sizes {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.product .productInfo .colors .color {
  width: 32px;
  height: 32px;
  border-radius: 5px;
  cursor: pointer;
  background-color: black;
}

.product .productInfo .colors .color:last-child {
  background-color: darkblue;
}

.product .productInfo .sizes .size {
  padding: 5px 20px;
  border: 1px solid black;
  color: black;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: var(--main-transition);
  user-select: none;
}

.product .productInfo .sizes .size.active {
  background-color: black;
  color: white;
}

.product .productInfo .sizes .size:hover {
  background-color: black;
  color: white;
}

.product .productInfo button {
  float: right;
  border: none;
  background-color: black;
  border: 1px solid #999;
  color: white;
  font-size: 20px;
  font-weight: 800;
  padding: 8px 16px;
  cursor: pointer;
  transition: var(--main-transition);
  animation: buy 1s ease-in-out infinite;
  user-select: none;
}

.product .productInfo button:hover {
  background-color: transparent;
  color: black;
  border-color: black;
  animation: none;
}

.product .overlay {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.product .overlay.show {
  display: block;
}

.product .payment {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e6ffef;
  box-shadow: 0 0 15px #ccc;
  padding: 20px 50px;
  border-radius: 10px;
  overflow: hidden;

  display: none;
}
.product .payment.show {
  display: block;
}

.product .payment i {
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  padding: 8px 16px;
  font-size: 20px;
  color: white;
  cursor: pointer;
  transition: var(--main-transition);
}
.product .payment i:hover {
  background-color: rgb(240, 0, 0);
}

.product .payment h1 {
  color: black;
  font-size: 30px;
}

.product .payment .personalInfo {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.product .payment .personalInfo label {
  color: #222;
  font-size: 17px;
  font-weight: 500;
  margin-bottom: -5px;
}

.product .payment input {
  padding: 8px;
  border: none;
  outline: none;
  border-radius: 6px;
  background-color: #fafafa;
  border: 1px solid var(--main-color);
  color: black;
  font-size: 18px;
  font-weight: 600;
  transition: var(--main-transition);
}

.product .payment input::placeholder {
  color: #444;
}

.product .payment input:hover,
.product .payment input:focus {
  box-shadow: 0 0 5px var(--main-color);
}

.product .payment img {
  width: 70px;
  margin: -15px 0 10px;
}

.product .payment .cardNum {
  width: 100%;
  margin-bottom: 5px;
}

.product .payment .cardInfos {
  display: flex;
  gap: 5px;
}

.product .payment .checkout {
  display: block;
  background-color: var(--main-color);
  margin: 10px 0 -5px;
  padding: 8px 14px;
  border-radius: 6px;
  color: #ececec;
  font-size: 18px;
  font-weight: 700;
  width: 100%;
  text-align: center;
  cursor: pointer;
  transition: var(--main-transition);
  user-select: none;
}

.product .payment .checkout:hover {
  background-color: var(--hover-color);
}
/* End Product */

/* Start Gallery */
.gallery {
  padding-top: 80px;
}

.gallery .container {
  max-width: 1200px;
  margin: 80px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 50px;
}

.gallery h2 {
  margin: 5px;
  font-weight: 800;
  font-size: 25px;
  max-width: 300px;
}

.gallery img {
  width: 250px;
}
/* End Gallery */

/* Start Nes season */
.newSeason {
  padding-top: 80px;
  display: flex;
  height: 700px;
}

.newSeason .item {
  position: relative;
  flex: 1;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.newSeason .item h1 {
  font-size: 40px;
  font-weight: 800;
}

.newSeason img {
  position: relative;
  width: 100%;
  height: 100%;
}

.newSeason .item:not(:nth-child(2)):before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.418);
  z-index: 1000;
}

.newSeason .item button {
  padding: 15px;
  font-weight: 800;
  cursor: pointer;
}
/* End New season */

/* Start Footer */
footer {
  padding: 60px 50px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

footer .footerLeft {
  flex: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .footerLeft .title {
  font-size: 20px;
  font-weight: 800;
}

footer .footerLeft ul li {
  margin-bottom: 5px;
  font-style: 16px;
  font-weight: 400;
  color: #333;
  cursor: pointer;
  transition: var(--main-transition);
}

footer .footerLeft ul li:hover {
  color: var(--hover-color);
}

footer .footerRight {
  flex: 1;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

footer .footerRight .leftMenu .title {
  font-size: 20px;
  font-weight: 800;
}

footer .footerRight .leftMenu .mail {
  display: flex;
  align-items: center;
  gap: 5px;
}

footer .footerRight .leftMenu .mail input {
  padding: 5px;
  outline: none;
}

footer .footerRight .leftMenu .mail button {
  padding: 5px;
  background-color: black;
  color: white;
  cursor: pointer;
}

footer .footerRight .rightMenu .title {
  font-size: 20px;
  font-weight: 800;
}

footer .footerRight .rightMenu .icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

footer .footerRight .rightMenu .icons img {
  width: 25px;
  cursor: pointer;
}

footer .footerRight .copyright { 
  font-weight: 400;
  font-size: 16px;
  color: #444;
}
/* End Footer */

/* Start Responsive Media */
@media (max-width: 667px) {
  nav {
    background-color: #111;
    padding: 0 50px;
    color: white;
  }
  nav .navTop {
    height: 65px;
  }
  nav .navTop img {
    width: 120px;
  }
  nav .navTop .search {
    display: none;
  }
  nav .navTop .limitedOffer {
    font-size: 18px;
  }
  nav .navBottom {
    height: 100px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
  }
  nav .navBottom h3 {
    font-size: 17px;
  }

  .slider {
    clip-path: none;
  }
  .slider .sliderWrapper .sliderItem img {
    width: 350px;
    z-index: 1;
  }
  .slider .sliderWrapper .sliderItem h1 {
    display: none;
  }
  .slider .sliderWrapper .sliderItem h2 {
    padding: 5px 30px;
    font-size: 50px;
    top: unset;
    left: 0;
    bottom: 0;
    transform: rotate(0deg);
  }
  .slider .sliderWrapper .sliderItem:nth-child(1) h2, 
  .slider .sliderWrapper .sliderItem:nth-child(2) h2, 
  .slider .sliderWrapper .sliderItem:nth-child(3) h2, 
  .slider .sliderWrapper .sliderItem:nth-child(4) h2, 
  .slider .sliderWrapper .sliderItem:nth-child(5) h2 {
    color: white;
  }
  .slider .sliderWrapper .sliderItem button {
    top: 5%;
    right: 0;
    font-size: 20px;
    font-weight: 800;
    padding: 10px 16px;
  }
  .slider .sliderWrapper .sliderItem .sliderBg {
    width: 100%;
    height: 100%;
  }

  .gallery .container {
    text-align: center;
  }

  .product {
    height: 130vh;
    padding: 80px 40px;
    clip-path: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .product > img {
    width: 100%;
  }
  .product .productInfo {
    text-align: center;
    position: absolute;
    top: 45%;
    right:0%;
    width: 100%;
    padding: 0;
  }
  .product .productInfo h1 {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 10px;
  }
  .product .productInfo h2 {
    margin-bottom: 25px;
  }
  .product .productInfo p {
    max-width: 600px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.3;
    color: #666;
    margin-bottom: 30px;
  }
  .product .productInfo .colors,
    .product .productInfo .sizes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  .product .productInfo button {
    float:  none;
    margin-top: 10px;
  }
  .product .payment {
    width: 95%;
    padding: 10px 30px;
  }
  .product .payment h1 {
    color: black;
    font-size: 24px;
  }
  .product .payment .personalInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .product .payment .personalInfo label {
    color: #222;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: -5px;
  }
  .product .payment input {
    padding: 7px;
    font-size: 16px;
  }
  .product .payment .cardNum {
    width: 100%;
    margin-bottom: 5px;
  }
  .product .payment .cardInfos {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .product .payment .checkout {
    margin-bottom: 10px;
  }

  .newSeason {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
  }
  .newSeason .item:nth-child(2) {
    padding: 0px;
  }
  .newSeason .item:nth-child(1),
  .newSeason .item:nth-child(3) {
    display: none;
  }

  footer {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .footerLeft {
    width: 125%;
    text-align: center;
    margin-bottom: 20px;
  }
  .footerRight {
    background-color: #ececec;
    width: 135%;
    text-align: center;
  }
  .footerRight .leftMenu .mail {
    justify-content: center;
  }
  .footerRight .rightMenu .icons {
    justify-content: center;
  }
}
/* End Responsive Media */